.contact{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background: #f8f8f8;
}
.contact__header{max-width: 50%;}
.contact__header h2{
    padding:0;
    margin:0;

    font-family: 'Montserrat';
    font-weight: bolder;
    font-size: 4.4rem;
    text-align: center;
}
.contact__main{
    width: 85%;
    margin: 3em 0em;

    display: flex;
}
.contact__main__info{width: 50%;}
.contact__main__info h3{
    margin: 1em 0em;

    font-family: 'Montserrat', Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 3em;
    line-height: 1.7em;
    
    text-align: justify;
    
    color: #2c2c2c;
}
.contact__main__info__item{
    display: flex;
    align-items: baseline;
    flex-direction: column;
    margin: 2em 0em;
}

.contact__main__info__item h4{
    padding: 0em .5em;
    margin: 0;

    font-family: 'Montserrat', Helvetica, sans-serif;
    font-weight: normal;
    font-size: 2em;
    line-height: 1.5em;
    text-align: justify;
    color: #2c2c2c;
}
.contact__main__info__item a{
    padding: 0em .5em;
    margin: .1em 0em;

    font-family: 'Roboto', Helvetica, sans-serif;
    font-weight: normal;
    font-size: 2em;
    line-height: 1.5em;
    text-align: justify;
    text-decoration: none;
    
    color: #c9a739;
}

.contact__main__info__item__social{
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 13.4em;
}
.contact__main__info__social a{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
}
.contact__main__info__item__social__item{
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
    padding: .2em;
    
    border-radius: 50%;
    
    width: 100%;
}
.contact__main__info__item__social__item .i{
    color: #2c2c2c;
    border-radius: 50%;
    
    width: 100%;
    height: 100%;

    transition: color 150ms linear;
}

.contact__main__info__item__social a:hover .i{color: #c9a739}

.contact__main__form{
    width: 100%;
    margin-top: 10em;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 48%;
}
.contact__main__form h4{
    padding: 0em .5em;
    margin: .5em 0em;

    font-family: 'Montserrat', Helvetica, sans-serif;
    font-weight: normal;
    font-size: 2em;
    line-height: 1.5em;
    text-align: justify;
    
    // color: #f8f8f8;
}
.contact__main__form form{
    width: 90%;
    padding: 2em;

    background: black;
}
.contact__main__form__item{
    display: flex;
    flex-direction: column-reverse;
    
    // border: .1em solid red;
    margin: 2em 0em;
    label{
        font-family: 'Montserrat', Helvetica, sans-serif;
        font-weight: normal;
        font-size: 1.8em;
        line-height: 1.5em;
        text-align: justify;
        color: #f8f8f8;
    }
    
    input, button{
        height: 2.7em;
        border-radius: 15pt;
        
        padding: 0em 1.2em;

        resize: vertical;
        border: none;
        outline: none;
        background-image:none;    
        background-color:#f8f8f8;
        
        font-family: 'Roboto', Helvetica, sans-serif;
        font-weight: normal;
        font-size: 1.8em;
        line-height: 1.5em;
        text-align: justify;

        color: #c9a739;
    }
    button{
        align-self: center;
        width: 40%;
        text-align: center;
        font-size: 2em;
    }
    textarea{
        border-radius: 15pt;
        padding: 1.2em;

        resize: vertical;
        border: none;
        outline: none;
        background-image:none;    
        background-color:#f8f8f8;

        font-family: 'Roboto', Helvetica, sans-serif;
        font-weight: normal;
        font-size: 1.8em;
        line-height: 1.5em;
        text-align: justify;

        color: #c9a739;
    }
    
}
.contact__bottombar{
    width: 90%;
    min-height: 6em;
    
    padding: 0em 3.77em;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    
    font-family: 'Roboto', Helvetica, sans-serif;
    font-weight: normal;
    font-size: 1.8em;
    text-align: justify;
    color: #f7f7f7;
    a{
        text-decoration: none;
        color: #f8f8f8;
    }
}
