.topbar{
    position: fixed;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    background: #f8f8f8;

    // opacity: .9;
    
    z-index: 9000;
    height: auto;

    width: 100%;

    padding: 0;
    margin: 0;
    left: 0;
    top: 0;
}
.topbar__mobile{display: none;}
@media screen and (max-width:939px){
    .topbar{
        padding: 0em 0.5em;
        margin: 0;
    }
    .topbar__social{display: none;}
}
@media screen and (max-width:781px){
    .topbar{
        padding: 0;
        opacity: 1;
    }
    .topbar__social, .topbar__desktop{display: none;}
    .topbar__mobile{display: flex;}
}